<%- include('partials/stheader')%>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Exam Results</title>
    <link rel="stylesheet" type="text/css"  href="css/stylesheet.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
  <div class="container2" style="width: auto; position: absolute; top: 0mm; right: 0;">
    <table class="table" style="background-color: white">
      <tr>
        <td>  <%if(im==null){%>
          <i class="fas fa-user"></i>
          <%}else{%>
        <img style="height: 30px; border-radius: 10px 10px 10px 10px;" src=<%=  im %> alt="" class="image"> <%}%>
         <%= loginName%>  </td>    
      </tr> 
    </table>
  </div>
  <h2 id="h2">Check Exam Result</h2>
    <form action="/studentSearch" method="POST">
      <div class="container2">
        <table class="table">
          <tr>
            <th>
               <select class="btn btn-outline-secondary my-2 my-sm-0" style="width: 100%; height: 44px;" name="exam">
                 <option>Select a exam</option>
                 <% for(var i=0;i<eData.length;i++){%>
                 <option><%= eData[i]%></option>
                 <%}%>
               </select>
           </th>
           <th>
              <select class="btn btn-outline-secondary my-2 my-sm-0" style="width: 100%; height: 44px;" name="sub">
                <option>Select a subject</option>
                <% for(var i=0;i<sData.length;i++){%>
                <option><%= sData[i]%></option>
                <%}%>
              </select>
           </th>
           <th>
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="font-weight: bold; width: 100%;"> Submit</button>
           </th>
          </tr>
        </table>
      </div>
    </form><hr>
    <h2 id="h2">Examination Results</h2>
    <div class="container" style="overflow-x:auto;">
          <% if(testData.length>0){ var i=0%>
            <table class="table" style="width:100%;">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Sno</th>
                  <th scope="col">Name</th>
                  <th scope="col">Enroll Id</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Exam Date</th>
                  <th scope="col">Exam</th>
                  <th scope="col">Marks</th>
                  <th scope="col">Total Marks</th>
                  <th scope="col">Result</th>
                </tr>
              </thead>
              <tbody>
                <%testData.forEach(function(test){%>
                  <%if(test.result=="Pass"){%>
                    <tr style="background-image: linear-gradient(to right, #ffffff 20%, #ccffcc 100%)">
                       <td><%= ++i%></td>
                       <td><%= test.name%></td>
                       <td><%= test.enroll_id%></td>
                       <td><%= test.subject%></td>
                       <td><%= test.date%></td>
                       <td><%= test.exam_name%></td>
                       <td><%= test.marks%></td>
                       <td><%= test.marks_from%></td>
                       <td><%= test.result%></td>
                    </tr >
                  <%} else{%>
                    <tr style="background-image: linear-gradient(to right, #ffffff 20%, #ff9999 80%)">
                       <td><%= ++i%></td>
                       <td><%= test.name%></td>
                       <td><%= test.enroll_id%></td>
                       <td><%= test.subject%></td>
                       <td><%= test.date%></td>
                       <td><%= test.exam_name%></td>
                       <td><%= test.marks%></td>
                       <td><%= test.marks_from%></td>
                       <td><%= test.result%></td>
                      </tr>
                    <%}%>
             <%})} else{%><br>
              <div class="card" style="width: 100%;">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">No Record Found</p>
                </div> 
              </div> 
          <%}%>
              </tbody>
            </table>
      </div><br><br><br>
</body>
<%- include('partials/footer')%>