<%-include ('partials/theader')%>
<head>
    <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">  
       <title>Assignment</title>
       <link rel="stylesheet" type="text/css"  href="css/stylesheet.css">
       <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>   
    <div class="container2" style="width: auto; position: absolute; top: 0px; right: 10%;">
        <table class="table" style="background-color: white">
          <tr>
            <td><i class="fas fa-user"></i> <%= loginName%></td>
          </tr>
        </table>
      </div>
    <h3 id="h3">Upload Assignment</h3>  
    <% if(message.length>0){%>
        <div class="card alert alert-success" style="width: 100%;">
            <div class="card-body">
              <p class="card-text" style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;"><%= message%></p>
            </div> 
          </div> 
      <%}%>
    <form action="#" method="POST" enctype="multipart/form-data">  
        <div class="container2" style="overflow-x:auto; ">
            <table class="table" style= " width: 100%;">
                <tr>
                    <td colspan="2" style="width: 50%">
                        <input type="file" name="pic" style="width: 100%;" class="btn btn-outline-secondary my-2 my-sm-0" required>
                    </td>                 
                    <td colspan="2" style="width: auto">
                        <select class="btn btn-outline-secondary my-2 my-sm-0" style="width: 100%; height: 44px;" name="sub" required>
                            <%for(var k=0;k<subData.length;k++){%>
                                <option><%= subData[k]%></option>
                                <%}%>
                          </select>
                          Subject
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%;">
                        <input type="date" style="width: 100%;" name="time" class="btn btn-outline-secondary my-2 my-sm-0" required>
                        Due date
                    </td>
                    <td>
                        <input type="checkbox" id="duesub" name="duesub"> 
                        <label for="duesub">Submission not allowed after due date</label>
                    </td>
                    <td >
                        <input type="text" name="msg" class="form-control" placeholder="Message if any">
                    </td>
                </tr>
                <tr>
                    
                    <td >
                        <select class="btn btn-outline-secondary my-2 my-sm-0" style=" width: 100%; height: 44px;" name="cour" required>
                            <%for(var l=0;l<courseData.length;l++){%>
                                <option><%= courseData[l]%></option>
                                <%}%>  
                      </select>
                      Course
                    </td>
                    <td style="width: 25%;" >
                        <select class="btn btn-outline-secondary my-2 my-sm-0" style="width: 100%; height: 44px;" name="semester" required>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                          </select>
                        Semester
                    </td>
                    <td style="width: 30%;" >
                        <button class="btn btn-outline-dark my-2 my-sm-0" style="width: 100%; height: 45px;"  type="submit">
                            <i class="fas fa-file-upload"></i> Upload</button>
                    </td>
                </tr>
            </table>
        </div>
    </form><br>
    <h3 id="h3">Earlier Assignments</h3>  
            <div class="container2" style="overflow-x:auto;">
                <%if(data.length>0){%>
             
                <% for(var i=0;i<data.length; i++) {%>
                <hr>
                <table class="table">
                    <thead>
                        
                        <tr>
                         <td colspan="3" ><i class="fas fa-calendar-alt"></i><%= data[i].date%></td>
                        <td colspan="3" style="text-align: center;">Due Date : <%= data[i].due_date%></td> 
                        </tr>
                        <tr>
                            <td style="width: 20%; border-right-style: groove;"><%= data[i].subject%></td>
                            <%if(data[i].message==null | data[i].message==""){%>
                                <td style="width: 20%; border-right-style: groove;">
                                 <label for="">No message</label> 
                                </td><%} else{%>
                                 <td style="width: 20%; border-right-style: groove;">
                                   <%= data[i].message%>
                                 </td>
                                 <%}%>
                            <td style="width: 30%; border-right-style: groove;"><%= data[i].assPath.substr(21)%></td>
                            <td style="width: 10%; background-image: linear-gradient(to right, #ccffcc 100% ,#ffffff 20%)">
                                <form action="/AssignDownload/<%= data[i]._id%>" method="GET">
                                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                                <i class="fas fa-file-download"></i> Download</button></form></td>
                            <td style="width: 10%; background-image: linear-gradient(to right, #ccffcc 100% ,#ffffff 20%)">
                                <form action="/AssignDelete/<%= data[i]._id%>" method="POST">
                                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                                <i class="fas fa-trash-alt"></i> Delete</button>
                                </form>
                            </td>
                            <td style="width: 10%; background-image: linear-gradient(to right, #ccffcc 100% ,#ffffff 20%)"> 
                                <form action="/AssignSubmission/<%= data[i].A_id%>" method="GET">
                                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                                Submissions</button></form>
                            </td>
                        </tr>     
                    </thead>
                </table>
                <%}} else{%> <br>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <p class="card-text" style="text-align: center;">No Record Found</p>
                        </div> 
                      </div> <br>
                    <%}%>  
            </div><br><br>
</body>
<%-include ('partials/footer')%>
